doctype html
html
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel='stylesheet', href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous")
    link(rel='stylesheet', href='/css/jquery-ui-1.12.1/jquery-ui.min.css')
    link(rel='stylesheet', href='/css/jquery-ui-timepicker-addon.css')
    link(href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css", crossorigin="anonymous")
    link(rel='stylesheet', href='/css/leaflet-velocity.min.css')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='icon', href='images/favicon.ico' type='image/x-icon')
body
    #wrapper
        block content

    script(src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous")




    script(src="/js/jquery-ui.min.js")
    script(src="/js/datepicker-de.js")
    script(src="/js/jquery-ui-timepicker-addon.js")
    link(href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet")
    script(src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js")
    script(src="https://cdn.jsdelivr.net/npm/highcharts@9.3.3/highcharts.js")
    script(src="https://cdn.jsdelivr.net/npm/highcharts@9.3.3/highcharts-more.js")
    script(src="/js/customEvents.min.js")
    link(rel="stylesheet", href='/leaflet.css')
    script(src='/leaflet.js')
    script(src='/js/leaflet-velocity.min.js')
    link(rel="stylesheet", href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css")
    script(src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js")
    script(src="/d3.js")
    script(src="/moment.min.js")
    script(src='/js/global.js')
